.homeHeader {
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.riverHeader {
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.box1 {
    width: 300px;
    margin: 30px auto;
    border: 4px dotted black;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: relative;
    background-color: lightgrey;
  }

  .sb7:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -23px;
  }
  
  .sb7:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 24px;
    bottom: -13px;
  }

.contain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container {
    position: relative;
    width: 30%;
}

.image-container img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96%;
    width: 98%;
    opacity: 0;
    transition: 0.5s ease;

    border: 5px solid #666666;
    background-color: #c0cedd;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.overlay p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


.tour-guide {
    width: 300px;
    height: 350px;
    margin-right: 3%;
    margin-left: 5%;
}

#miamiRiver {
    margin-right: 9%;
    margin-top: -9%;
}

.overlay h6 {
    font-size: 10px;
    display: inline;
    margin-left: 36%;
}

.portrait2 {
    width: 300px;
    height: 300px;
    margin-left: -8%;
}

.portrait3 {
    width: 350px;
    height: 375px;
    margin-left: -13%;
    margin-top: 2%;
}

.portrait4 {
    width: 300px;
    height: 350px;
    margin-top: -0.5%;
    margin-left: -10%;
    margin-right: 3%;
}

button {
    background-color: lightgrey;
    font-family: arial;
    font-weight: 900;
    text-align: center;
    margin: 30px;
    margin-left: 1%;
    border: 2px solid #666666;
    border-radius: 10px;
    color: black;
    padding: 8px;
  }

.homeBody {
    background-image: url(https://www.miamiandbeaches.com/getmedia/bbcdccc6-8f9c-41e9-b531-4b7f8b7fc093/Miami_Zoom-Rooms-Customized-Background-Images_Downtown_10.aspx?ext=.jpg);
} 

.riverBody {
    background-color: #98bcd4;
}

.palmBody {
    background-color: #e6d1aa;
}

.brickellBody {
    background-color: #ffd0d0;
}