.homeHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-family: segoe script;
    color: rgb(243, 243, 164);
}

.riverHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    padding: 2%;
    font-family: corbel;
    color: black;
}

.format {
    margin-left: -30%;
}

.box1 {
    width: 300px;
    margin: 30px auto;
    border: 4px dotted black;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: consolas;
    position: relative;
    background-color: lightsteelblue;
    opacity: 70%;
  }

  .sb7:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -23px;
  }
  
  .sb7:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: 24px;
    bottom: -13px;
  }

.contain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container {
    position: relative;
    width: 30%;
}

.image-container img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;

    border: 5px solid #666666;
    background-color: #c0cedd;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    text-align: center;
    font-family: gabriola;
    padding: 2%;    
    font-size: 30px;
}

.overlay p {
    text-align: left;
    font-family: microsoft yi baiti;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


.tour-guide {
    width: 300px;
    height: 350px;
    margin-right: 3%;
    margin-left: 5%;
    margin-bottom: 3.5%;
}

#miamiRiver {
    margin-right: 9%;
    margin-top: -9%;
    font-family: consolas;
}

.overlay h6 {
    font-size: 10px;
    display: inline;
    margin-left: 36%;
}

.portrait2 {
    width: 270px;
    height: 260px;
    margin-left: -8%;
}

.portrait3 {
    width: 300px;
    height: 335px;
    margin-left: -13%;
    margin-top: 3%;
}

.portrait4 {
    width: 300px;
    height: 335px;
    margin-top: -0.5%;
    margin-left: -10%;
    margin-right: 3%;
}

button {
    background-color: lightsteelblue;
    font-family: consolas;
    font-weight: 900;
    text-align: center;
    margin: 30px;
    margin-left: 1%;
    border: 2px solid #666666;
    border-radius: 10px;
    color: black;
    padding: 8px;
    cursor: pointer;
  }

.homeBody {
    background-image: url(https://images.miamiandbeaches.com/getmedia/1350bd9b-c90c-4749-acdd-a1889b68ae04/Miami_Shines_Miami_Beach_Lifeguard_stand_1440x900.jpg.aspx?width=1440&height=900&ext=.jpg);
    background-size: cover;
} 

.riverBody {
    background-image: url(https://cdn.shopify.com/s/files/1/0071/2176/4403/products/spatial-toupe_grande.png?v=1618254947.jpg);
    background-size: cover;
}