h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #66D0FF;
}

.cloud{
    margin-top: 160px;
    margin-left: 200px;
    width: 500px;
    height: 200px;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}
.cloud::after, .cloud::before {
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud::after {
    width: 200px;
    height: 200px;
    top: -160px;
    left: -120px;
}

.cloud::before {
    width: 200px;
    height: 300px;
    top: -100px;
    left: 240px;
}

.boxed {
    width: 100px;
    height: 100px;
    margin-left: 1100px;
    border: 1px solid black;
}

.portrait {
    width: 300px;
    height: 350px;
    left: 900px;
}